<div class="clr-row">
  <h1>Mascotas para adoptar</h1>
</div>
<div class="clr-row">
  <table class="table">
    <thead>
      <tr>
        <th class="left">Nombre</th>
        <th class="left">Tipo</th>
        <th class="left">Edad</th>
        <th class="left">Descripción</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of mascotas">
        <td class="left">{{ item.nombre }}</td>
        <td class="left">{{ item.tipo }}</td>
        <td class="left">{{ item.edad }}</td>
        <td class="left">{{ item.descripcion }}</td>
      </tr>
    </tbody>
  </table>
</div>
