<div class="clr-row">
  <h1>Mascotas para adoptar</h1>
</div>
<div class="clr-row">
  <a routerLink="/mascotas-agregar" class="btn btn-outline">agregar mascota</a>
</div>
<div class="clr-row">
  <table class="table" *ngIf="mascotas.length > 0; else emptyMascotas">
    <thead>
      <tr>
        <th class="left">Nombre</th>
        <th class="left">Tipo</th>
        <th class="left">Edad</th>
        <th class="left">Descripción</th>
        <th class="left">Acciones</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let mascota of mascotas">
        <td class="left">{{ mascota.nombre }}</td>
        <td class="left">{{ mascota.tipo }}</td>
        <td class="left">{{ mascota.edad }}</td>
        <td class="left">{{ mascota.descripcion }}</td>
        <td class="left">
            <a class="btn btn-icon" [routerLink]="['/mascotas-editar', mascota.id]" >
                <clr-icon shape="pencil"></clr-icon>
            </a>
            <button type="button" class="btn btn-icon btn-warning" aria-label="warning" (click)="delete(mascota.id)">
                <clr-icon shape="trash"></clr-icon>
            </button>
        </td>
      </tr>
    </tbody>
  </table>

  <ng-template #emptyMascotas>
    No hay mascotas
  </ng-template>
</div>
