<div class="card">
  <div class="card-img">
    <img src="{{ mascota.imagen }}" />
  </div>
  <div class="card-block">
    <h4 class="card-title">{{ mascota.nombre }}</h4>
    <p class="card-text">
      {{ mascota.descripcion }}
    </p>
  </div>
  <ul class="list-group">
    <li class="list-group-item">Tipo: {{ mascota.tipo }}</li>
    <li class="list-group-item">Edad: {{ mascota.edad }}</li>
    <li class="list-group-item">
      <button class="btn btn-success btn-sm" (click)="adopt()">Adoptar</button>
    </li>
  </ul>
</div>
